canvas {
  width:  60%;
  height: 60%;
  top: 20vh;
  left: 19.5vw;
  position: fixed;  
  margin: 0;  
}
svg {
  width:  60%;
  height: 60%;
  top: 20vh;
  left: 19.5vw;
  position: fixed;  
  margin: 0; 
}
